{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue mdr</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime deleniti quod soluta rem minima doloribus labore saepe eveniet sint sunt, magnam nulla reprehenderit nesciunt assumenda vel est porro autem dolore suscipit cumque in illum accusamus? Id, odit beatae. Possimus, facere.</p>
<p>Maiores provident pariatur laborum modi minima vitae ipsum ipsam laudantium sunt, dignissimos adipisci eligendi iure culpa cumque atque! Animi sint officiis vitae possimus recusandae, quibusdam dolores dolorem accusantium repellendus aliquid aspernatur harum quo nostrum maxime. At tempore cum velit architecto.</p>

{% endblock %}